import Foundation

class {{ module }}Interactor: {{ module }}InteractorInputProtocol {

    weak var presenter: {{ module }}InteractorOutputProtocol?
    var dataManager: {{ module }}DataManagerInputProtocol?

    init() {}

}
